html {
	font-size: 18px;
	position: relative;
	min-height: 100%;
}

body {
	background-color: #89BCE5;
}
.rounds, .simulation {
	display: flex;
}

.simulation {
	width: 1200px;
	margin: 0 auto;
	margin-top: 48px;
	flex-direction: column;
}

.rounds {
	flex-direction: row;
	margin-bottom: 24px;
}

.round, .summary {
	flex-grow: 1;
	margin: 0 10px;
	background-color: #46A1EB;
	border-color: #3A84C0 !important;
	border-width: 1px;
	border-radius: 10px;
	border: solid;
	animation: scaleIn 0.2s ease-in-out;
	padding: 12px;
}

.summary {
}

table {
	width: 100%;
}

td {
	min-width: 100px;
}

.points {
	font-weight: bold;
}

@keyframes scaleIn {
	0% {
		transform: scale(0.9);
	}

	75% {
		transform: scale(1.05);
	}

	100% {
		transform: scale(1);
	}
}